/* Whole page */
.LandingPage{
    background: url('../../static/img/background8.png')rgba(0,0,0,.4) no-repeat center / cover;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size:100% 100%;
    overflow:hidden;
}

.LandingPage-mask{
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;

}

/* icon */
.LandingPageicon{
    width: 100%;
    height: 60%;
    display: inline-block;
}

.LandingPageicon img{
    height: 60%;
    padding: 6px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 50px;
    float: left;
}

.LandingPageheader{
    height: 45%;
}


/* button */
.buttonArea{
 /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
}

.enterButton{
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.landingButton{
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgba(32, 32, 32, 0);
    border: 1px solid #F1F1F1;
    margin-right: 30%;
    margin-left: 30%;
}

.landingButton:hover{
    background: rgba(32, 32, 32, 0.4);
}


.landingButton span{
    width: 199px;
    font-family: Montserrat;
    font-size: 25px;
    color: #F1F1F1;
    margin: 0px 10px;
}

.languagesection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.languagesection a{
    font-family: Montserrat;
    font-size: 25px;
    line-height: 30px;
    color: #F1F1F1;
    margin: 0px 20px;
}

.languagesection a:hover{
    color: #8AE3FF;
    cursor: pointer;
}


.languagesection p{
    width: 30px;
    border: 1px solid #F1F1F1;
    transform: rotate(-90deg);
    margin: 0px 15px;
}

@media screen and (max-width: 1025px){
    .LandingPage{
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    .LandingPage-mask{
        overflow-y: auto;
    }

    .LandingPageicon img{
        float: none;
        margin: 0;
        margin-top: 30px;
    }
       
    .enterButton{
        flex-direction: column;
        align-items: center;
    }
    
    .landingButton{
        margin-top: 5%;
    }
    
    .languagesection{
        flex-direction: column;
        margin-top: 5%;
    }
    
    .languagesection a{
        margin: 2%;
    }

    
    .languagesection p{
        display: none;
    }
    
    

}