.ProfileContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;

    position: static;
    width: 577.5px;
    height: 258.67px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
    padding-left: 54px;
}

.contactTitle{
    position: static;
    width: 500px;
    height: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #F1F1F1;
    flex: none;
    align-self: stretch;
    margin: 0;
}