/*Contact Info Section start*/
.ContactInfo-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 300px;
    height: 594px;
    left: 466.5px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 30px;
}

.ContactInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 300px;
    height: 76px;
    left: 0px;
    top: 256px;
    flex: none;
    margin-bottom: 60px;
}

.ContactInfo div{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F1F1F1;
    text-align: left;
}

.ContactInfo p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #F1F1F1;
}

.ContactInfo-Social{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 185px;
    height: 192px;
    left: 0px;
    top: 402px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ContactInfo-SocialIcon{
    color: var(--white);
    margin-bottom: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    gap: 20px;
}

.ContactInfo-SocialIcon .cIcon {
    color: var(--white);
    padding: 4px 4px 3px 4px;
    border: 1px solid var(--text);
}

.ContactInfo-SocialIcon p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
}
/*Contact Info Section finished*/

/* Smaller laptop */
@media screen and (max-width: 1068px) {
    .ContactInfo-section{
        width: 200px;
        left: 0;
    }

}

/* iPad */
@media screen and (max-width: 700px) {
    .ContactInfo-section{
        display: none;
    }
}