.HomePage {
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow:hidden;
    z-index: 0;
    top:0;    
}

/* .HomePage video{
    object-fit: cover;
    width: 95vw;
    height: auto;
    justify-content: center;
    margin-top: clamp(10px, 10vw, 50px);
    pointer-events: none;
    z-index: -1;
} */

.HomePageBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    
}

.HomePageBody h1 {
    position: relative;
    font: var(--boost-performance);
    width: 100%;
    padding-left: clamp(20px, 15%, 1000px);
    text-align: left;
    font-size: clamp(20px, 7vw, 150px);
    /* letter-spacing: 0.1em; */
    /* font-weight: 1000px; */
    /* animation: fade-in-top 3s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; */
}


.HomePageBody h1 em {
    font: var(--boost-performance);
    font-size: clamp(20px, 9vw, 150px);
    color: rgb(85, 85, 85);   
}

.HomePageBody img {
    width: clamp(300px, 50%, 1000px);
    height: auto;
    position: absolute;
    right: -20px;
    top: clamp(100px, 15vh, 130px);
    object-fit: cover;
    filter: hue-rotate(200deg);
    /* animation: fade-in-rotate 3s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; */
    z-index: -1;
    transform-origin: center;
}


.messageHome{
    position: static;
    width: auto;
    height: 20%;
    top: 298.5px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 300;
    font-size: 60px;
    line-height: 105px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.01em;
    color: var(--white);
}


.HomePagelink{
    /* The two line belowed make sure that all item in this div will display as row */
    display: flex;
    flex-direction: row;
    padding: 12px 0 12px 0;
    gap: 30px;
    /* this two lines of code help div keep bottom */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(158, 158, 158, 1);
    /* animation: fade-in-bottom 3s ease;
    animation-delay: 0.6s; */
    animation-fill-mode: forwards;
}

.HomeIcon{
    cursor: pointer;
    color: var(--white);
    padding: 4px 4px 0px 4px;
    border: 1px solid var(--text);
}
.HomeIcon:hover {
    filter: contrast(0.6);
}

@keyframes fade-in-bottom {
    100%{opacity: 1;}
    0%{transform: translateY(500px); opacity: 0;}
}

@media screen and (max-width: 1025px){
    .HomePage{
        width: 100%;
        height: 100%;
    }
}
