.HomePage {
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow:hidden;
    z-index: 0;
    top:0;    
}

.HomePage video{
    object-fit: cover;
    width: 95vw;
    height: auto;
    justify-content: center;
    margin-top: clamp(10px, 10vw, 50px);
    pointer-events: none;
    z-index: -1;
}

.HomePagebody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.messageHome{
    position: static;
    width: auto;
    height: 20%;
    top: 298.5px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 300;
    font-size: 60px;
    line-height: 105px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.01em;
    color: var(--white);
}


.HomePagelink{
    /* The two line belowed make sure that all item in this div will display as row */
    display: flex;
    flex-direction: row;
    padding: 12px 0 12px 0;
    gap: 30px;
    /* this two lines of code help div keep bottom */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
}

.HomeIcon{
    cursor: pointer;
    color: var(--white);
    padding: 4px 4px 0px 4px;
    border: 1px solid var(--text);
}
.HomeIcon:hover {
    filter: contrast(0.6);
}

@media screen and (max-width: 1025px){
    .HomePage{
        width: 100%;
        height: 100%;
    }
}