.qA h1{
    text-align: left;
    width: 100%;
    font: var(--primary-black);
}

.qA .block {
    width: 100%;
    text-align: left;
    line-height: 1.5em;
    padding-bottom: 50px;
}

.qA .question {
    font: var(--paragraph);
    background-color: rgb(230, 228, 228);
    padding: 20px 10px 20px 10px;
}

.qA .answer {
    position: relative;
    font: var(--paragraph);
    line-height: 1.5em;
    opacity: 0.5;
    animation: fade-in 1s ease;
    
}

.qA .fold_Btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 5px;
    box-sizing: border-box;
    padding-right: 10px;
}

.qA h2 {
    font: var(--secondary-medium);
    width: 100%;
    text-align: left;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {}
}