.keypoint {
    color: var(--background);
    fill: var(--background);
    width: 300px;
    padding: 100px 50px 100px 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keypoint h3 {
    width: 100%;
    font: var(--secondary-light);
    text-align: center;
}

.keypoint p {
    width: 100%;
    text-align: left;
}

.keypoint .icon {
    position: relative;
    width: 60px;
    height: 60px;
    color: var(--background);

    animation: float 5s ease;
    animation-iteration-count: 1000;
}

@keyframes float {
    0%{}
    50%{transform: translateY(-20px);}
    100% {}
}