.container {
    position: relative;
    width: 100%;
    background-image: url('../../../static/img/ProgramOverview_background.svg');
    background-size: cover;
    color: var(--background);
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, transparent); */
}

.container * {
    position: absolute;
    left: 50px;
}

.container h2 {
    font: var(--tertiary-light);
}

.container p {
    font: var(--tertiary-bold);
}

