/* GLOBAL */
.partner_container {
    background: #F1F1F1;
}



/* Navigation */
.partner_page_navigation_container {
    position: fixed;
    margin: 50px 0 0 0;
    padding: 25px 0 25px 0;
    /* padding: 75px 0 25px 0; */
    width: 100%;
    background: white;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.navigation_partner_image_container {
    width: 5%;
    display: inline-block;
    padding: 0 2%;
    height: 100%;
}
.navigation_partner_image_container img {
    width: 100%;
    height: 100%;
}
.navigation_partner_image_container:hover {
    cursor: pointer;
}
@media (max-width:600px) {
    .navigation_container {
        display: none;
    }
    .partner_page_navigation_container {
        display: none;
    }
}


/* Main */
.partner_main_container {
    width: 80%;
    margin-left: 10%;
    text-align: left;
    padding-top: 140px;
}
@media (max-width:600px) {
    .partner_main_container {
        padding-top: 0;
    }
}


/* PartnerDetail */
.partner_detail_container {
    padding-top: 250px;
    padding-bottom: 50px;
    border-bottom: 1px solid #C2C2C2;
    line-height: 30px;
}
.partner_detail_logo_container {
    margin-bottom: 50px;
}
.partner_detail_logo_container img {
    width: 100px;
}
.partner_detail_website_link_container {
    margin-top: 30px;
    width: 100%;
    text-align: right;
    color: var(--primary);
    text-decoration: underline #8AE3FF;
}
.partner_detail_website_link_container:hover {
    cursor: pointer;
}
@media (max-width:600px) {
    .partner_detail_container:nth-child(1) {
        margin-top: 0;
        padding-top: 50px;
    }

}

.partner_skeleton {
    margin-top: 140px;
    padding-left: 110px;
    padding-right: 110px;
}