.loginPage {
    background: #F1F1F1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-logo {
    width: 255px;
}

.login-input-group {
    padding-top: 50px;
    width: 568px;
}

.login-input {
    margin-bottom: 50px;
}

.login-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    width: 568px;
    height: 38px;
    background: #00AAE7;
    color: #F1F1F1;
    flex: none;
    margin-top: 40px;
    cursor: pointer;
}

.login-forgotten {
    width: 568px;
    height: 18px;
    /* Tertiary/light */
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    /* Theme/inactive */
    color: #C2C2C2;
    /* Inside Auto Layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    margin-top: 50px;
    cursor: pointer;
}


.login-forgotten:hover{
    text-decoration: underline;
}