.howItWorks h1 {
    font: var(--primary-black);
    width: 100%;
    text-align: left;
}
.howItWorks .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.howItWorks p {
    font: var(--paragraph);;
    text-align: left;
    line-height: 1.7em;
    width: clamp(400px, 45%, 1000px);
}